.page-holder {
  width: 80%;
  display: inline-block;
  margin-left: 10%;
  margin-top: 110px; }

.page-top-section {
  border: black solid 2px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%; }
  .page-top-section .page-picture {
    width: 100px;
    height: 100%; }
  .page-top-section .page-top-right {
    justify-content: space-evenly;
    display: flex;
    flex-grow: 3; }

.quiz-button:hover {
  cursor: pointer;
  background-color: #D5F5E3; }

.link-button-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.submit {
  width: 40%;
  border-radius: 25px;
  margin-left: 30%;
  margin-top: 10px;
  margin-bottom: 30px;
  height: 40px;
  background-color: #35BB70;
  color: black;
  font-weight: 700;
  font-size: 18px;
  border: black solid 2px; }

.submit:hover {
  cursor: pointer;
  background-color: #D5F5E3; }

.page-top-section-grid {
  border: black solid 2px;
  display: grid;
  grid-template-columns: 12% 88%;
  grid-template-rows: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%; }
  .page-top-section-grid .page-picture {
    width: 100px;
    height: 100px;
    grid-column: 1;
    margin: auto; }
  .page-top-section-grid .page-top-right {
    grid-column: 2;
    justify-content: space-evenly;
    display: flex;
    flex-grow: 3; }

.quiz-form {
  background-color: rgba(255, 255, 255, 0.75);
  border: solid black 2px; }
  .quiz-form .icon-holder {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; }
  .quiz-form .counter {
    position: absolute;
    display: inline;
    transform: translate(-108%, 105%);
    color: gray; }
  .quiz-form .remove {
    margin-right: 65px;
    color: #F63131; }
  .quiz-form .remove path {
    stroke: black;
    stroke-width: 14px; }
  .quiz-form .remove2 {
    color: #CBC5C5;
    margin-right: 65px; }
  .quiz-form .remove2:hover {
    cursor: not-allowed; }
  .quiz-form .remove:hover {
    color: #EBA7A7;
    cursor: pointer; }
  .quiz-form .add {
    color: #0074DA; }
  .quiz-form .add path {
    stroke: black;
    stroke-width: 14px; }
  .quiz-form .add2 {
    color: #CBC5C5; }
  .quiz-form .add2:hover {
    cursor: not-allowed; }
  .quiz-form .add:hover {
    color: #98BFE1;
    cursor: pointer; }
  .quiz-form h1 {
    text-align: center; }
  .quiz-form span {
    font-size: 26px;
    font-weight: 700;
    margin: 0px 0px 15px 10px; }
  .quiz-form p {
    font-size: 26px;
    font-weight: 700;
    margin: 0px 0px 15px 10px;
    text-align: center; }
  .quiz-form .instructions {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: 5px; }
  .quiz-form input {
    height: 30px;
    margin-bottom: 15px;
    width: 225px; }
  .quiz-form .counter2 {
    position: absolute;
    display: inline;
    transform: translate(-108%, 200%);
    color: gray; }

.question-counter {
  position: relative; }

.create-question-holder {
  border-top: black solid 2px;
  padding-top: 40px; }
  .create-question-holder p {
    font-size: 16px;
    text-align: left;
    width: 90%;
    margin-left: 5%; }
  .create-question-holder input {
    width: 90%;
    margin-left: 5%; }

@media screen and (max-width: 400px) {
  .quiz-form span {
    display: block;
    text-align: center;
    margin-left: 0px; }
  .quiz-form h1 {
    font-size: 26px; }
  .quiz-form input {
    width: 90%;
    margin-left: 4%; }

  .create-question-holder input {
    width: 90%;
    margin-left: 5%; }

  .page-holder {
    width: 90%;
    margin-left: 5%; } }

/*# sourceMappingURL=createpage.css.map */
