.page-holder {
  width: 80%;
  display: inline-block;
  margin-left: 10%;
  margin-top: 110px; }

.page-top-section {
  border: black solid 2px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%; }
  .page-top-section .page-picture {
    width: 100px;
    height: 100%; }
  .page-top-section .page-top-right {
    justify-content: space-evenly;
    display: flex;
    flex-grow: 3; }

.quiz-button:hover {
  cursor: pointer;
  background-color: #D5F5E3; }

.link-button-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.submit {
  width: 40%;
  border-radius: 25px;
  margin-left: 30%;
  margin-top: 10px;
  margin-bottom: 30px;
  height: 40px;
  background-color: #35BB70;
  color: black;
  font-weight: 700;
  font-size: 18px;
  border: black solid 2px; }

.submit:hover {
  cursor: pointer;
  background-color: #D5F5E3; }

.page-title div, .page-link-holder input, .copy-icon, .copy-icon2 {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.quiz-button2 {
  display: none; }

.quiz-button {
  height: 41px;
  width: 95%;
  border-radius: 30px;
  margin: 7px 0px 0px 0px;
  background-color: #35BB70;
  color: black;
  font-weight: 700;
  font-size: 18px;
  border: black solid 2px;
  position: relative;
  left: 50%;
  transform: translateX(-52%);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none; }

.page-title {
  font-size: 26px;
  font-weight: 900;
  flex-grow: 3;
  text-align: center; }

.margin-mod {
  margin-top: 26px; }

.page-link-holder {
  flex-grow: 3;
  display: flex;
  justify-content: center; }
  .page-link-holder input {
    width: 175px;
    height: 30px; }
  .page-link-holder .icon-margin {
    margin-top: 30px; }

.copy-icon {
  margin: 0px 7px 3px 5px; }

.copy-icon:hover {
  cursor: pointer; }

.copy-icon2 {
  margin: 0px 7px 3px 5px; }

.copy-icon2:hover {
  cursor: not-allowed; }

.copy-link {
  display: none; }

@media screen and (max-width: 880px) {
  .quiz-button {
    height: 75%;
    width: 75px;
    position: relative;
    margin-top: 15.5%;
    margin-right: 7px; }

  .page-holder {
    width: 90%;
    margin-left: 5%; }

  .page-link-holder {
    position: absolute;
    left: -300px; }

  .copy-link {
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 7px;
    margin-left: 3px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.75); } }
@media screen and (max-width: 450px) {
  .page-title {
    font-size: 18px; } }
@media screen and (max-width: 375px) {
  .page-title {
    font-size: 18px; }

  .quiz-button {
    display: none; }

  .quiz-button2 {
    height: 41px;
    width: 100%;
    border-radius: 30px;
    margin: 20px 0px 0px 0px;
    background-color: #35BB70;
    color: black;
    font-weight: 700;
    font-size: 18px;
    border: black solid 2px;
    position: relative;
    left: 50%;
    transform: translateX(-52%);
    display: block;
    margin-left: 7px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .quiz-button2 span {
      display: block; }

  .quiz-button2:hover {
    cursor: pointer;
    background-color: #D5F5E3; } }
@media screen and (max-width: 270px) {
  .page-title {
    font-size: 14px; }

  .button-link {
    text-decoration: none; } }

/*# sourceMappingURL=quizpage.css.map */
