.quiz-form{
    background-color: rgba(255,255,255,.75); 
    border: solid black 2px;

    .icon-holder{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }


    .remove{
        margin-right:65px;
        color: #F63131;
    }

    .remove path {
        stroke: black;
        stroke-width: 14px;
    }

    .remove2{
        color: #CBC5C5;
        margin-right:65px;

    }

    .remove2:hover{
        cursor: not-allowed;
    }

    .remove:hover{
        color: #EBA7A7;
        cursor: pointer;
    }

    .add{
        color: #0074DA;
    }

    .add path {
        stroke: black;
        stroke-width: 14px;
    }

    .add2 {
        color: #CBC5C5
    }

    .add2:hover {
        cursor: not-allowed
    }

    .add:hover{
        color: #98BFE1;
        cursor: pointer;
    }

    h1{
        text-align: center;
    }

    span{
        font-size: 26px;
        font-weight: 700;
        margin: 0px 0px 15px 10px;
    }

    p{
        font-size: 26px;
        font-weight: 700;
        margin: 0px 0px 15px 10px;
        text-align: center;
    }

    .instructions{
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        margin: 5px;
    }

    input{
        height: 30px;
        margin-bottom: 15px;
        width: 225px;
    }

    .counter{
        position: absolute;
        display: inline;
        transform: translate(-108%, 105%);
        color: gray;
    }

    .counter2{
        position: absolute;
        display: inline;
        transform: translate(-108%, 200%);
        color: gray;
    }

    .submit {
        width: 40%;
        border-radius: 25px;
        margin-left: 30%;
        margin-top: 10px;
        margin-bottom: 30px;
        height: 40px;
        background-color:#35BB70;
        color: black;
        font-weight: 700;
        font-size: 18px;
        border: black solid 2px;
    }

    .submit:hover {
        cursor: pointer;
        background-color: #D5F5E3;
    }

}

.question-counter{
    position: relative;
}



.create-question-holder {
    border-top: black solid 2px;
    padding-top: 40px;
    p {
        font-size: 16px;
        text-align: left;
        width: 90%;
        margin-left: 5%;
    }
    input{
        width: 90%;
        margin-left: 5%;
    }
}



@media screen and (max-width: 400px) {


    .quiz-form{

        span {
            display: block;
            text-align: center;
            margin-left: 0px;
        }

        h1{
            font-size: 26px;
        }

        input{
            width: 90%;
            margin-left: 4%;
        }
    }

    .create-question-holder {
        input {
            width: 90%;
            margin-left: 5%;
        }
    }

    .page-holder{
        width: 90%;
        margin-left: 5%;
    }

}