.nav-bar {
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    height: 55px;
    display: flex;
    justify-content: space-between;
    border: black 2px solid;
    z-index: 1;
}

.logo {
    background-image: url('../media/logo.jpg');
    width: 150px;
    height: 44px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 6px 0px 0px 5px;
}

.logo:hover{
    cursor: pointer;
}

.create-quiz-button {
    height: 41px;
    width: 125px;
    border-radius: 30px;
    margin: 7px 5px 0px 0px;
    background-color:#35BB70;
    color: black;
    font-weight: 700;
    font-size: 18px;
    border: black solid 2px;
}

.create-quiz-button:hover {
    cursor: pointer;
    background-color: #D5F5E3;
}

.mobile-nav{
    padding-bottom: 5px;
    font-size: 14px;
}

@media screen and (max-width: 275px) {

    .create-quiz-button{
        font-size: 14px;
    }

}