@import 'page';



.score-info-holder {
    display: flex;
    background-color: rgba(255,255,255,.75);
    margin-top: 25px;
    border: black solid 2px;
    justify-content: space-evenly;
    width: 100%;

    div {
        font-size: 20px;
        font-weight: 700;
        margin: 15px 0px 15px 0px;
    }
}

.questions {
    background-color: rgba(255,255,255,.75);
    margin-top: 25px;
    border: black solid 2px;
    padding-left: 7px;
    padding-bottom: 20px;

    .result-title{
        font-size: 22px;
        padding-top: 5px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 20px;

    }
    div{
        margin-top: 20px;
    }

    mark {
        margin-top: 20px;
    }
}

.question-holder {
    padding-right: 7px;
}

.question{
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;

    div{
        display: inline;
    }
}

.correct{
    background-color: #7AFE83; 
}

.incorrect{
    background-color: #F79999;
}

.right{
    color: green;
    margin-right: 5px;
}

.wrong{
    color: red;
    margin-right: 5px;
}

@media screen and (max-width: 400px) {

    .score-info-holder {
        div {
            font-size: 14px;
        }
    } 

    .question{
        font-size: 15px;
    }
.questions{
    .result-title{
        font-size: 20px;
    }
}
}
